POSTGRES_URL=jdbc:postgresql://localhost:5432/jchatmind
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

ZHIPUAI_API_KEY=
ZHIPUAI_BASE_URL=https://open.bigmodel.cn/api/paas
ZHIPUAI_MODEL=glm-4.6

MAIL_HOST=smtp.qq.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

DOCUMENT_STORAGE_BASE_PATH=./data/documents
